<div class="card padding margin-top d-flex flex-column">
    <div class="d-flex flex-row align-items-center">
        <div style="background-color:<%= category.color %>; width:20px; height:20px;margin-right:10px">
        </div>
        <%=link_to category.title, category,:class => "text-uppercase text-secondary"%>
    </div>
</div>